.profileInfo {
display: flex;
}

.profileInfo hr {
  margin-left: 25px;
  width: 660px;
  }

.avatar {
  width: 200px;
  height: 180px;
  margin-bottom: 33px;
}

.avatar img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.status {
  font-size: 16px;
  margin: 2px 30px 5px 29px;
}

.status span {
  padding: 1px 7px 2px;
}

.status span:hover {
  border-radius: 7px;
  background-color: rgb(212, 217, 221);
}

.file {
 display: block;
 margin-top: 10px;
}

.profileName {
  font-size: 22px;
  margin-left: 35px;
}