.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: h;
  background-color: rgb(10, 26, 36);
  -webkit-box-shadow: 0px 0px 9px 3px rgba(10, 26, 36, 0.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(10, 26, 36, 0.25);
  box-shadow: 0px 0px 9px 7px rgba(10, 26, 36, 0.25);
}
.header img {
  margin-left: 175px;
  margin-top: 7px;
  width: 45px;
}

.loginBlock {
  margin-top: 18px;
  color: white;
}


.login, .logout {
  float: right;
  margin-right: 70px;
  color: white;
  text-decoration: none;
}

.login button {
  margin-left: 20px;
}
