.sidebar {
  margin-left: 150px;
  grid-area: n;
  font-size: 23px;
  padding: 20px;
  height: 350px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(10, 26, 36, 0.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(10, 26, 36, 0.25);
  box-shadow: 0px 0px 10px 7px rgba(10, 26, 36, 0.25);
}
.items {
  display: flex;
  color: rgb(10, 26, 36);
  text-decoration: none;
  border-radius: 5px;
}

.items img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.item {
  text-decoration: none;
  color: rgb(10, 26, 36);
}

.active {
  color: rgb(10, 26, 36);
  font-weight: bold;
  text-decoration: none;
}

